.textwrapper {
    opacity: 1;
    padding-top: 0px;
    text-align: center;
    font-family: Playfair Display;
    font-size: 70px;
    line-height: 89px;
    font-weight: 400;
}
.fontColorBlue {
	color: #3e92cc;
}
.alignCenter {
	text-align: center;
}

.tiltbutton-wrap {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    display: inline-block;
}
.customfont{
	font-size: 20px;
	font-family: Playfair Display;
}

button:hover {

	background: rgba(0,0,0,0);
	color: #3e92cc;
	box-shadow: inset 0 0 0 3px #3e92cc;

}
h1 {
	font-family: Playfair Display;
}
.section-inverse {
    color: #fff;
    background: #000;
}

.h1text {
	text-align: -webkit-center;
    font-size: 38px;
}
.ewf-text-align--left {
    text-align: left;
}
.ewf-section__content {
    position: relative;
    z-index: 3;
    width: 100%;
}
.services-item.services-item-first {
    margin-top: 0;
}
.headline span {
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: .65;
    color: #1a171c;
}
.h4iconSize {
	font-size: x-large;
	text-align: center;
}
.icon {
	text-align: center;
}
h2 {
	text-align: -webkit-center;
}

.col-lg-offset-right-3 {
  margin-right: 25%;
}
.textright{
	text-align: right!important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 .joinimage {
 	 padding-right: 0px!important;
   padding-left: 0px!important;
   z-index: 102;
 }
 .welcome-single-slide {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.welcome-single-slide .project_title {
    position: absolute;
    content: "";
    bottom: -300px;
    left: 0;
    z-index: 3;
    background: rgba(252, 108, 63, 0.7);
    padding: 30px;
    width: 100%;
    height: auto;
    -webkit-transition-duration: 750ms;
    transition-duration: 750ms;
}
.alignText {
  text-align: -webkit-left;
}

.topmargin{
  margin-top:80px;
}
.heightSet {
  height:576px;
}

.maxwidth {
  margin-right:0px !important;
  margin-left: 0px !important;
  padding-top: 100px;
}
.topPadding{
  padding-top: 100px;
}
.joinimage{
  opacity: 0.7;
}
.pad{
  padding-top: 153px;
}

.joinimage:hover {

  transform: scale(1.09,1.06); /** default is 1, scale it to 1.5 */
  -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition:transform 1.05s ease-in-out;
  -ms-transition:transform 1.05s ease-in-out;
  opacity: 1;
  z-index: 10 !important;
  overflow-y: hidden;
}
.textOnImg1{
  margin-left: -244px;
  margin-top: 200px;
  position: absolute;
  z-index: 100;
  line-height: 0.5;
}
.textOnImg2{
  margin-left: -285px;
  margin-top: 200px;
  position: absolute;
  z-index: 100;
  line-height: 0.5;
}
.textOnImg3{
  margin-left: -339px;
  margin-top: 200px;
  position: absolute;
  z-index: 100;
}
.textOnImg4{
  margin-left: -245px;
  margin-top: 200px;
  position: absolute;
  z-index: 100;
}
section {
  padding: 100px 0 !important;
}
.custompadding {
  padding: 70px 0 !important;
}
.customColor {
  background-color: #3b0086!important;
  color: white;
}

.paddingTop {
    padding-top: 10px !important;
}
.fontSize{
  font-size: 20px!important;
}
.aligntextinImg1 {
  margin-left: -58px;
 }
 .aligntextinImg2 {
  margin-left: -27px;
 }
 .aligntextinImg3 {
  margin-left: 35px;
 }
 .aligntextinImg4 {
  margin-left: -58px;
 }
.customa {
  color:white;
}
@media only screen and (max-width: 600px) {
  .textcenter {
    text-align: center!important;
    padding-top: 10%;
  }
  .textright{
  text-align: center!important;
  margin-left: -1%;
  }
  .customfont{
  font-size:20px;
  font-family: Playfair Display;
}
.h1text {
    text-align: -webkit-center;
    font-size: 26px;
}
.marginItem {
  padding-top: 40px;
}

.textwrapper {
    opacity: 1;
    padding-top: 0px;
    text-align: center;
    font-family: Playfair Display;
    font-size: 54px;
    line-height: 70px;
    font-weight: 400;
}
section {
    padding: 76px 0;
}
  .middle-align {
    padding-top: 240px;
    margin-left: 9px;
  }
  .wrapper-text{
    font-size: 38px;
    letter-spacing: 0.01em;
  }
}

.being{
  background-color: #3b0086;margin-top: 120px; margin-left: 14%; margin-right: 11%;
  border-radius: 25px;
  height: auto;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 2%;
  /*padding-bottom: 2%;
  padding-left: : 3px;
  padding-right: : 3px;*/
  font-weight: bold;
}
.foot-ceo{
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
}

nav.navbar {
  z-index: 3 !important;
}
#intro{
  padding-top:15px !important;
}

